.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-s);
  margin-right: var(--spacing-xl);
  margin-left: var(--spacing-xl);
  margin-bottom: 25px;
}

.separator {
  width: 80%;
  height: 1px;
  background-color: var(--light-gray);
}
.buttons{
  display: flex;
  gap: var(--spacing-s);
  padding: var(--spacing-s);
  align-items: center;
  justify-content: center;
  margin-bottom: var(--spacing-s);
}

.cta-button {
  background-color: var(--color-primary);
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.disable {
  pointer-events: none;
  opacity: 0.5;
}
