<div class='card'>
  <div *ngIf='recipe' class='card-wrapper'>

    <div class='image-container'>
      <img [src]='recipe.getPictureUrl()[0]' alt='img'>
    </div>

    <div class='content'>
      <div class='title'>
        {{ recipe.name }}
      </div>

      <div class='details'>

        <div class='detail'>
          <mat-icon>schedule</mat-icon>
          <span class='count'> {{ recipe.time }}</span>
        </div>

        <div class='detail'>
          <mat-icon>restaurant</mat-icon>
          <span class='count'>{{recipe.type }}</span>
        </div>

        <div class='detail'>
          <mat-icon>person</mat-icon>
          <span class='count pink'>{{recipe.portions}}</span>
        </div>

      </div>

      <button class='view-recipe'>View Recipe</button>

    </div>
  </div>

  <mat-progress-bar *ngIf='!recipe' mode='indeterminate'></mat-progress-bar>
</div>
