.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: var(--spacing-s);
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
