.container {
  padding: var(--spacing-l) var(--spacing-s);
}

.title{
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.already-have-account {
  text-align: center;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
}

.already-have-account a {
  font-family: 'Poppins', sans-serif;
  color: blue;
  text-decoration: none;
}

.already-have-account a:hover {
  text-decoration: underline;
}
