<div class='navbar'>
  <div class='nav-menu' (click)='toggleMenu()'>
    <mat-icon class='nav-menu-icon'>{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
  </div>

  <div class='nav-menu-overlay' *ngIf='isMenuOpen' (click)='toggleMenu()'></div>

  <div class='nav-menu-content' *ngIf='isMenuOpen'>
    <ul class='menu-list' (click)="closeMenu()">
      <li *ngFor='let service of services'>
        <div [routerLink]='service.link' class="link">{{ service.title }}</div>
        <div *ngIf='service.subServices && service.subServices.length'>
          <div *ngFor='let subService of service.subServices' class="sub-link">
            <div [routerLink]='subService.link' class="flex-row alignCenter gap-s">
              <mat-icon *ngIf="subService.icon" color="primary" class="icon-header">{{ subService.icon ?? '' }}
              </mat-icon>
              <div>{{ subService.title }}</div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>


  <div class='nav-logo'>
    <a href='/' class='nav-link'>
      <img src='../../../../assets/logo.jpg' alt='' class='logo'>
    </a>
  </div>

  <mat-icon class='nav-profile' [routerLink]='PROFILE_ROUTES.path' color='primary'>account_circle</mat-icon>
</div>
