<div class='card'>
  <div class='image-container'>
    <img src='https://assets.afcdn.com/recipe/20160325/58176_w157h157c1cx2808cy1872.webp'>
  </div>
  <div class='content'>
    <div class='title'>
      Strawberry Waffle and pinate but dzq
    </div>

    <div class='details'>
      <div class='detail'>
        <mat-icon>schedule</mat-icon>
        <span class='count'>20</span>
      </div>
      <div class='detail'>
        <mat-icon>local_dining</mat-icon>
        <span class='count'>5</span>
      </div>
      <div class='detail'>
        <mat-icon>person</mat-icon>
        <span class='count pink'>4</span>
      </div>
    </div>
    <button class='view-recipe'>View Recipe</button>
  </div>
</div>
