.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-s);
  box-sizing: border-box;
  z-index: 10;
}

.popup-content {
  position: relative;
  background: white;
  padding: var(--spacing-m);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 250px;
}


mat-form-field {
  width: 100%;
}

.mat-mdc-form-field {
  margin-bottom: -1em;
}

mat-icon {
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
}

.recipes-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  align-items: center;
}

.cta-button {
  background-color: var(--color-primary);
  color: white;
  padding: 5px 10px;
  margin: var(--spacing-xs);
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

