<div class='card'>
  <div *ngIf='recipe' class='card-wrapper'>

    <div class='image-container'>
      <img [src]='recipe.getPictureUrl()[0] ?? "../../../../assets/logo.jpg"' alt='img'>
    </div>

    <div class='content'>
      <div class='title'>
        {{ recipe.name | titleFormat }}
      </div>

      <div class='details'>

<!--        <div class='detail'>-->
<!--          <mat-icon>schedule</mat-icon>-->
<!--          <span class='count'> {{ recipe.time | timeFormat }}</span>-->
<!--        </div>-->

<!--        <div class='detail'>-->
<!--          <mat-icon>restaurant</mat-icon>-->
<!--          <span class='count'>{{ recipe.type | typeFormat }}</span>-->
<!--        </div>-->

<!--        <div class='detail'>-->
<!--          <mat-icon>person</mat-icon>-->
<!--          <span class='count pink'>{{ recipe.portions }}</span>-->
<!--        </div>-->

          <div class='detail-item'>
            <div class='detail-label'>
              <mat-icon class='detail-icon'>restaurant</mat-icon>
              <div>Type</div>
            </div>
            <div class='detail-value'>{{ recipe.type | typeFormat }}</div>
          </div>
          <div class='detail-item'>
            <div class='detail-label'>
              <mat-icon class='detail-icon'>
                access_time
              </mat-icon>
              Temps
            </div>
            <div class='detail-value'>{{ recipe.time | timeFormat }}</div>
          </div>
          <div class='detail-item'>
            <div class='detail-label'>
              <mat-icon class='detail-icon'>
                local_florist
              </mat-icon>
              Saison
            </div>
            <div class='detail-value'>{{ recipe.season | seasonFormat }}</div>
          </div>


      </div>

      <button class='view-recipe'>Voir la recette</button>

    </div>
  </div>

  <mat-progress-bar *ngIf='!recipe' mode='indeterminate'></mat-progress-bar>
</div>
