<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title class='title'>Connection</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #registerForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <mat-form-field class="width-100">
          <input matInput placeholder="Nom d'utilisateur" name="username" [(ngModel)]="form.username" required>
        </mat-form-field>
        <mat-form-field class="width-100">
          <input matInput [type]="!showPassword ? 'password' : 'text'" placeholder="Mot de passe" name="password"
                 [(ngModel)]="form.password" required autocomplete="on" />
          <mat-icon matSuffix
                    (click)="showPassword = !showPassword">{{ !showPassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </mat-form-field>
        <button *ngIf='!isWaiting' mat-raised-button color="primary" type="submit" class="width-100"
                [disabled]="!registerForm.valid">Se connecter
        </button>
        <div *ngIf='isWaiting' class='flex-row center'>
          <mat-spinner diameter='30'></mat-spinner>
        </div>

      </form>
    </mat-card-content>
    <mat-card-footer>
      <p class="already-have-account">Pas de compte ? <a (click)="goToRegister()">crée en
        un</a></p>
    </mat-card-footer>
  </mat-card>
</div>

