<div *ngIf='recipe' class='recipe-container'>
  <div class='flex-row'>
    <div class='title flex-1'>{{ recipe.name }}</div>

    <mat-icon *ngIf="$isMine | async" class='favorite-icon margin-right-s'
              [routerLink]="['/',RECIPE_ROUTES.path,RECIPE_ROUTES.update,recipe.id]">edit
    </mat-icon>

    <mat-icon class='favorite-icon'
              (click)='toggleFavorite()'>{{ isFavorite ? 'favorite' : 'favorite_border' }}
    </mat-icon>


  </div>

  <div class='pictures-container'>
    <div *ngFor='let picture of recipe.getPictureUrl()' class='recipe-picture'>
      <img [src]='picture' alt='recipe picture' class='image-picture' />
    </div>
  </div>

  <div class='details-container'>
    <div class='detail-item'>
      <div class='detail-label'>
        <mat-icon class='detail-icon'>restaurant</mat-icon>
        <div>Type</div>
      </div>
      <div class='detail-value'>{{ recipe.type | typeFormat }}</div>
    </div>
    <div class='detail-item'>
      <div class='detail-label'>
        <mat-icon class='detail-icon'>
          access_time
        </mat-icon>
        Temps
      </div>
      <div class='detail-value'>{{ recipe.time | timeFormat }}</div>
    </div>
    <div class='detail-item'>
      <div class='detail-label'>
        <mat-icon class='detail-icon'>
          local_florist
        </mat-icon>
        Saison
      </div>
      <div class='detail-value'>{{ recipe.season | seasonFormat }}</div>
    </div>
  </div>

  <div class='servings-container'>
    <div class='quantity-container1' (click)='increasePortions()'>
      <div class='quantity-button'>+</div>
    </div>

    <div class='servings'>
      {{ portions }}
      personnes
    </div>

    <div class='quantity-container2' (click)='decreasePortions()'>
      <div class='quantity-button'>-</div>
    </div>
  </div>


  <div class='ingredients-container'>
    <div class='sub-title'>Ingrédients:</div>
    <ul>
      <li class="item"
        *ngFor='let ingredient of recipe.getIngredientsForPortion(portions)'>
        {{ ingredient.quantity | unitFormat : ingredient.unit }} {{ ingredient.name }}
      </li>
    </ul>
  </div>

  <div class='steps-container'>
    <div class='sub-title'>Étapes:</div>
    <ol>
      <li class="item" *ngFor='let step of recipe.steps'>{{ step.text }}</li>
    </ol>
  </div>

  <div class='recipe-author'>
    Recette proposée par <strong>{{ recipe.ownerUsername }} </strong>
  </div>

  <mat-divider />

  <div class='comments-container'>
    <div class='sub-title'>Commentaires:</div>
    <div>
      <mat-form-field class='comment-input width-100'>
        <textarea matInput placeholder='Ajouter un commentaire' [(ngModel)]='newComment' name='newComment'></textarea>
      </mat-form-field>
      <button mat-raised-button color='primary' (click)='addComment()'>Ajouter</button>
    </div>
    <div *ngFor='let comment of recipe.comments' class='comment'>
      <div class='comment-author'>{{ comment.ownerUsername }}</div>
      <div class='comment-text'>{{ comment.text }}</div>
      <div class='comment-date'>{{ comment.createdAt | date: 'dd/MM/yyyy' }}</div>
    </div>
  </div>

</div>
