<div class='card'>
  <div class='card-top' (click)='onCardClick()'>

    <img [src]='thumbnail()' alt='img' class='image-container'>

    <div class='title'>
      {{ recipeShoppingList.name }}
    </div>
  </div>

  <div class='card-bottom'>
    <div class='portions'>
    <mat-icon class='material-icons' (click)='decrease()'>remove</mat-icon>
    <div class='portion'>
      {{ recipeShoppingList.portion }}
      <mat-icon class='material-icons'>person</mat-icon>
    </div>
    <mat-icon class='material-icons' (click)='increase()'>add</mat-icon>
    </div>
    <mat-icon class='material-icons delete' (click)='delete()'> delete</mat-icon>
  </div>
</div>
