<div class='card'>
  <div class='card-top'>
    <img src='{{ recipeShoppingList.imageUrl }}' alt='{{ recipeShoppingList.name }}' />
    <div class='title'>
      {{ recipeShoppingList.name }}
    </div>
  </div>

  <div class='card-bottom'>
    <mat-icon class='material-icons'>minus</mat-icon>
    <div class='portions'>
      {{ recipeShoppingList.portions }}
    </div>
    <mat-icon class='material-icons'>add</mat-icon>
    <mat-icon class='material-icons'>delete</mat-icon>
  </div>
</div>
