.form {
  padding: var(--spacing-s);
  overflow-y: auto;
}

.toggles {
  border-radius: var(--border-radius);
  margin-bottom: var(--spacing-s);
  flex-wrap: wrap;
}

.mini-font {
  font-size: 0.8rem;
}

input[type="text"] {
  font-size: 0.7rem
}

.input-picture {
  display: none;
}

.button-style {
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
}

.submit-button {
  margin: var(--spacing-s);
}

.mat-mdc-form-field {
  margin-bottom: -1em;
}

.pictures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacing-s);
}

