.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-s);
  margin-right: var(--spacing-xl);
  margin-left: var(--spacing-xl);
  margin-bottom: 25px;
}
.icon {
  font-size: 2rem;
  color: var(--color-primary);
  width: 2rem;
  height: 1.8rem;
}

.title {
  flex: 10;
}

/*  CHECKBOX CODE PEN ^^ */

