<div class='app-title flex-row center gap-s flex-1'>
  <div class='cta-button' [routerLink]='["/",SHOPPING_LIST_ROUTES.path,shoppingList?.id]'>
    <mat-icon class='icon'>arrow_back</mat-icon>
  </div>
  <div class='title'>
    {{ shoppingList?.name }}
  </div>
  <div class='flex-1'>
  </div>
</div>

<div class='list'>
  <div class='flex-row width-100' *ngFor='let elt of shoppingList?.ingredients'>
    <mat-checkbox class='example-margin' [checked]='elt.checked' (change)='onCkeckedChange(elt.id, $event.checked)' />
    <app-ingredient-card [ingredient]='elt' [editMode]='false' />
  </div>
</div>

